# Ignora entornos virtuales
venv/
.env/

# Ignora archivos grandes y compilados
*.dll
*.lib
*.pkl
*.h5
*.pt
*.ckpt
*.zip
*.tar.gz
*.whl
*.wav
*.png

# Ignora archivos temp
__pycache__/
*.pyc
*.pyo
*.pyd

.gradio/